*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# OpenCV build files
/external/opencv-build*/
/app/src/main/jniLibs/
/build-android/
/opencv/build/

.idea/
*.iml
/langpack-latin-best/build/
/server/build/
/venv/
/training/runs/
/training/data/
/training/labels/
/training/dataset/
__pycache__/
*.pyc

